<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pb-Master.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pb-common.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pb-master.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pb-receiver-touch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pb-terminal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pb-tracker-launcher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pb-tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39C23806238309B300791E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39C2388C2384962C00791E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CA4A762331407A00E528CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CA4A80233140BE00E528CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CA4A8B233140E100E528CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CA4A96233140F800E528CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CA4AA12331413A00E528CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EBB79F2350E13F0057D474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
